{% load bootstrap4 %}

<!-- basic html structure -->
<!-- https://django-bootstrap4.readthedocs.io/en/latest/quickstart.html -->

<!-- card body -->
<!-- https://getbootstrap.com/docs/4.1/components/card/ -->

<div class="card">
  {% if form_title %}
    <div class="card-header">
        {{ form_title }}
    </div>
  {% endif %}
  <div class="card-body">
    <form action='' method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form field_class="mb-3" label_class="mb-2" %}
        {% buttons %}
            <button type="submit" class="btn btn-primary mb-5">
                {{ submit_label|default:"submit" }}
            </button>
        {% endbuttons %}
    </form>
  </div>
</div>

